body {
    background-color: rgb(26, 26, 26);
    color: rgb(140, 176, 189);
    font-size: 15px;
    margin: 0;
}

#mainContent {
    margin: 0 auto;
    background-color: rgb(36, 36, 36);
    min-height: 99vh;
    max-width: 1200px;
    min-width: 300px;
    padding: 5px 60px;
}

img {
    display:block;
    margin-inline: auto;
}

h1, .description {
    text-align: center;
}

h1 {
    font-family: fantasy;
    font-size: 50px;
}

h2{
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

li{
    font-size: 20px;
    margin: 10px;
}